<div id="attributes">
  <h2>Invoice #<%= @invoice.id %></h2>
  <h4>Status: <%= @invoice.status %></h4>
  <h4>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></h4>
  <h4>Total Revenue: $<%= @invoice_items.total_rev %></h4>
  <h4>Customer: <%= @invoice.customer_name%></h4>
</div>

<div class='container' id="items">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @invoice_items.each do |inv| %>
      <tr id="invoice-item<%= inv.id %>">
        <th scope="row"><%= inv.item_id %></th>
        <td><%= inv.get_item.name %></td>
        <td><%= inv.quantity %></td>
        <td>$<%= inv.price_dollars(inv.quantity) %></td>
        <td><%= form_with model: [@merchant, inv], local: true do |f| %>
              <%= f.hidden_field :invoice_id, value: @invoice.id %>
              <%= f.select :status, [:pending, :packaged, :shipped], selected: inv.status %>
              <%= f.submit "Update Status"%>
            <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
