<%= render "admin/admin_header" %>

<div class="jumbotron">
  <h1 class="display-4">Admin Dashboard</h1><br>
</div><br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Top Customers</h3>
        <p class="card-text"></p>
        <div id="top_five">
          <ol>
             <% @top_five.each do |customer| %>
             <li><%= customer.first_name + ' ' + customer.last_name %> -- <%= customer.number_of_transactions %> purchases</li>
           <% end %>
           </ol>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Incomplete Invoices</h3>
        <p class="card-text"></p>
        <div id="invoices">
          <ol>
            <% @incomplete.each do |invoice| %>
            <li><%= link_to "Invoice ##{invoice.id}", admin_invoice_path(invoice) %> -- Created at: <%= invoice.created_at.strftime("%A, %B %d, %Y")%></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
