<%= render "admin/admin_header" %>

<div class='container' id='create-merchant'>
  <%= link_to 'Create Merchant', new_admin_merchant_url %>
</div>

<br>
<div class="container px-0">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 border bg-light" id="ready-to-ship"><h3>Top 5 By Revenue</h3>
       <br>
       <table class="table table-striped table-sm" id="enabled-items">
         <tbody>
            <% @merchants.top_5_by_rev.each do |merchant| %>
            <tr id="Top-<%= merchant.id %>">
              <td><%= merchant.id %></td>
              <td><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %></td>
              <td><%= merchant.best_day.last.top_date %></td>
              <td><%= "#{number_to_currency(merchant.total_rev / 100.0)}" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
     </div>
     <div class="col">
       <div class="p-3 border bg-light"><h3>Enabled Merchants</h3>
         <br>
         <table class="table table-striped table-sm" id="Enabled-table">
           <tbody>
              <% @merchants.enabled.each do |merchant| %>
              <tr id="<%= merchant.id %>">
                <td><%= merchant.id %></td>
                <td><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %></td>
                <td><%= button_to "#{merchant.enabled? ? "Disable" : "Enable"}", "/admin/merchants/#{merchant.id}", params: { merchant_id: merchant.id, status: merchant.enabled? ? "disabled" : "enabled", enable: true }, method: :patch %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light"><h3>Disabled Merchants</h3>
          <br>
          <table class="table table-striped table-sm" id="Disabled-table">
            <tbody>
              <% @merchants.disabled.each do |merchant| %>
              <tr id="<%= merchant.id %>">
                <td><%= merchant.id %></td>
                <td><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %></td>
                <td><%= button_to "#{merchant.enabled? ? "Disable" : "Enable"}", "/admin/merchants/#{merchant.id}", params: { merchant_id: merchant.id, status: merchant.enabled? ? "disabled" : "enabled", enable: true }, method: :patch %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
