<%= render partial: "layouts/merchant_header", locals: {merchant: @merchant} %>

<h1><%= @merchant.name %> Items</h1>
<%= button_to "Create item", new_merchant_item_path(@merchant), method: :get %>
<br>
<div class="container px-0">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 border bg-light" id="ready-to-ship"><h3>Enabled Items</h3>
       <br>
       <table class="table table-striped table-sm" id="enabled-items">
         <tbody>
           <% @merchant.items.enabled.each do |item| %>
           <tr id="item-<%= item.id %>">
             <td><%= link_to item.name, merchant_item_path(@merchant, item) %></td>
             <td><%= button_to "Disable", merchant_item_path(@merchant, item), method: :patch, params: {item: item, status: item.status} %></td>
           <% end %>
         </tbody>
       </table>
     </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light" id="top-customers"><h3>Disabled Items</h3>
        <br>
        <table class="table table-striped table-sm" id="disabled-items">
          <tbody>
            <% @merchant.items.disabled.each do |item| %>
            <tr id="item-<%= item.id %>">
              <td><%= link_to item.name, merchant_item_path(@merchant, item) %></td>
              <td><%= button_to "Enable", merchant_item_path(@merchant, item), method: :patch, params: {item: item, status: item.status} %></td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light" id="top-items"><h3>Top Items</h3>
        <br>
        <table class="table table-striped table-sm" >
          <tbody>
            <% @merchant.top_items.each do |item| %>
            <tr id="top-items-<%= item.id %>">
              <td><%= link_to item.name, merchant_item_path(@merchant, item) %> - <%= number_to_currency(item.pennies_to_dollars) %> in sales</td>
              <td>Top day for <%= item.name %> was <%= item.best_day.strftime("%m/%d/%y") %></td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
